* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}

/* Header styles */
.logo {
  font-size: 4.8rem;
  line-height: 5.7rem;
  margin-left: 3.787rem;
  letter-spacing: 0.48rem;
  font-weight: normal;
}

header {
  padding-top: 7.6rem;
  display: flex;
  align-items: center;
  margin-left: 8.3rem;
  position: fixed;
  top: 0;
  z-index: 100;
  color: white;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.613rem;
  height: 3.368rem;
  cursor: pointer;
}

.menu-btn-burger {
  width: 100%;
  height: 0.6rem;
  background-color: white;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.6rem;
  background-color: white;
}

.menu-btn-burger::before {
  transform: translateY(-1.4rem);
}

.menu-btn-burger::after {
  transform: translateY(1.4rem);
}

/* Hero Section styles */
.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./img/bgImage1.png');
  background-size: cover;
  background-position: 0 -20rem;
}

.hero h2 {
  font-weight: bold;
  font-size: 6.5rem;
  letter-spacing: 0.65rem;
}

.hero p {
  font-size: 3.2rem;
  letter-spacing: 0.32rem;
  line-height: 4.4rem;
  width: 82rem;
  margin-top: 3.2rem;
  margin-bottom: 4.3rem;
  font-weight: normal;
}

.hero button {
  background: linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%);
  border: none;
  color: white;
  border-radius: 7.9rem;
  font-size: 2.3rem;
  letter-spacing: 0.23rem;
  width: 28.4rem;
  height: 7.9rem;
  font-weight: bold;
}

/* Red Section styles */
.redSection {
  height: 100vh;
  width: 100vw;
  background-color: #D34848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18.4rem;
  position: relative;
}

.redSection h2 {
  font-size: 7.4rem;
  color: white;
  letter-spacing: 0.74rem;
}

.redSection h3 {
  font-size: 5.1rem;
  font-weight: normal;
  letter-spacing: 0.51rem;
  line-height: 6.1rem;
  width: 87.9rem;
  margin-top: 2.7rem;
  margin-bottom: 4.1rem;
}

.seeDemo {
  background-color: white;
  width: 33.8rem;
  height: 8.1rem;
  border: none;
  border-radius: 7.9rem;
  color: #D1346E;
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.23rem;
}

.tryNow {
  width: 24.8rem;
  height: 6.2rem;
  border-radius: 7.9rem;
  border: none;
  background-color: white;
  color: #D1346E;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  font-weight: bold;
  position: absolute;
  top: 9.5rem;
  right: 7.9rem;
}

.speaker1, .speaker2 {
  width: 25.4rem;
  position: absolute;
}

.speaker1 {
  top: 23.9rem;
  right: 47.9rem;
}

.speaker2 {
  top: 45.6rem;
  right: 15.7rem;
}

.yellowSection {
  height: 100vh;
  width: 100vw;
  background-color: #FFB33F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 90rem;
}

.yellowSection h2 {
  font-size: 7.4rem;
  letter-spacing: 0.74rem;
  color: white;
}

.yellowSection h3 {
  font-size: 5.1rem;
  line-height: 6.1rem;
  letter-spacing: 0.51rem;
  font-weight: normal;
  width: 83.1rem;
  margin-top: 2.3rem;
  margin-bottom: 4.7rem;
}

.yellowSection .seeDemo, .yellowSection .tryNow {
  color: #FFB33F;
}