* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}

/* Header styles */
.logo {
  font-size: 4.8rem;
  line-height: 5.7rem;
  margin-left: 3.787rem;
  letter-spacing: 0.48rem;
  font-weight: normal;
}

header {
  padding-top: 7.6rem;
  display: flex;
  align-items: center;
  padding-left: 8.3rem;
  position: fixed;
  top: 0;
  z-index: 100;
  color: white;
  width: 100%;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.613rem;
  height: 3.368rem;
  cursor: pointer;
}

.menu-btn-burger {
  width: 100%;
  height: 0.6rem;
  background-color: white;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.6rem;
  background-color: white;
}

.menu-btn-burger::before {
  transform: translateY(-1.4rem);
}

.menu-btn-burger::after {
  transform: translateY(1.4rem);
}

/* Hero Section styles */
.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  overflow: hidden;
  background-size: cover;
  background-position: 0 -20rem;
  background: rgba(0, 0, 0, 1);
}

.hero h2 {
  font-weight: bold;
  font-size: 6.5rem;
  letter-spacing: 0.65rem;
}

.hero p {
  font-size: 3.2rem;
  letter-spacing: 0.32rem;
  line-height: 4.4rem;
  width: 82rem;
  margin-top: 3.2rem;
  margin-bottom: 4.3rem;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}

.hero .content {
  z-index: 100;
  position: absolute;
  top: 44.2rem;
  text-align: center;
  left: 26.2rem;
}

.hero img {
  margin-top: -20rem;
  filter: brightness(50%);
}

.hero button {
  background: linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%);
  border: none;
  color: white;
  border-radius: 7.9rem;
  font-size: 2.3rem;
  letter-spacing: 0.23rem;
  width: 28.4rem;
  height: 7.9rem;
  font-weight: bold;
}

/* Red Section styles */
.redSection {
  height: 100vh;
  width: 100vw;
  background-color: #D34848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18.4rem;
  position: relative;
}

.redSection h2 {
  font-size: 7.4rem;
  color: white;
  letter-spacing: 0.74rem;
}

.redSection h3 {
  font-size: 5.1rem;
  font-weight: normal;
  letter-spacing: 0.51rem;
  line-height: 6.1rem;
  width: 87.9rem;
  margin-top: 2.7rem;
  margin-bottom: 4.1rem;
}

.seeDemo {
  background-color: white;
  width: 33.8rem;
  height: 8.1rem;
  border: none;
  border-radius: 7.9rem;
  color: #D1346E;
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.23rem;
}

.tryNow {
  width: 24.8rem;
  height: 6.2rem;
  border-radius: 7.9rem;
  border: none;
  background-color: white;
  color: #D1346E;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  font-weight: bold;
  position: absolute;
  top: 9.5rem;
  right: 7.9rem;
}

.speaker1, .speaker2 {
  width: 25.4rem;
  position: absolute;
}

.speaker1 {
  top: 23.9rem;
  right: 47.9rem;
}

.speaker2 {
  top: 45.6rem;
  right: 15.7rem;
}

/* Yellow Section Styles */

.yellowSection {
  height: 100vh;
  width: 100vw;
  background-color: #FFB33F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 90rem;
}

.yellowSection h2 {
  font-size: 7.4rem;
  letter-spacing: 0.74rem;
  color: white;
}

.yellowSection h3 {
  font-size: 5.1rem;
  line-height: 6.1rem;
  letter-spacing: 0.51rem;
  font-weight: normal;
  width: 83.1rem;
  margin-top: 2.3rem;
  margin-bottom: 4.7rem;
}

.yellowSection .seeDemo, .yellowSection .tryNow {
  color: #FFB33F;
}

/* Perks Section Styles */

.perks {
  height: 114vh;
  width: 100vw;
  background-color: #191919;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 17.4rem;
}

.perks h2 {
  font-size: 7.4rem;
  color: white;
  letter-spacing: 0.74rem;
}

.perk {
  width: 43.3rem;
  margin-top: 8.35rem;
}

.perkContainer {
  display: flex;
}

.perks hr {
  width: 10.4rem;
}

.perk h3 {
  font-size: 5.1rem;
  line-height: 6.2rem;
  letter-spacing: 0.51rem;
  margin-top: 2.75rem;
  margin-bottom: 2.8rem;
}

.perk:not(:last-of-type) {
  margin-right: 17.6rem;
}

.perk p {
  font-size: 3.5rem;
  line-height: 4.1rem;
  letter-spacing: 0.35rem;
  color: white;
  font-weight: normal;
}

.red {
  color: #D34848;
}

.blue {
  color: #1FE1E9;
}

.yellow {
  color: #FFB33F;
}

.perk:first-of-type hr {
  border-color: #D34848;
}

.perk:nth-of-type(2) hr {
  border-color: #1FE1E9;
}

.perk:last-of-type hr {
  border-color: #FFB33F;
}

/* Reviews Sections Styles */

.reviews {
  height: 100vh;
  width: 100vw;
  background-color: #1FE1E9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 63.4rem;
}

.reviews h2 {
  font-size: 7.4rem;
  letter-spacing: 0.74rem;
  color: white;
}

.reviewContainer {
  display: flex;
}

.review {
  width: 30.8rem;
  margin-top: 6.6rem;
  margin-right: 11.7rem;
}

.fa-star::before {
  font-size: 3.2rem;
  margin-right: 1.317rem;
}

.review h3{
  font-size: 3.5rem;
  color: white;
  letter-spacing: 0.35rem;
  margin-top: 2.591rem;
  margin-bottom: 2.4rem;
}

.review p {
  font-size: 3.5rem;
  color: #191919;
  letter-spacing: 0.35rem;
  line-height: 4.1rem;
}

.reviews .tryNow {
  color: #1FE1E9;
}

.smallSpeaker1, .smallSpeaker2 {
  width: 49.3rem;
  position: absolute;
}

.smallSpeaker1 {
  left: 2.885rem;
  top: 25.74rem;
}

.smallSpeaker2 {
  left: 12.47rem;
  top: 51.663rem;
}

/* Purchase Section Styles */

.purchase {
  height: 75vh;
  width: 100vw;
  background-color: #191919;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 17.2rem;
  padding-right: 18.9rem;
}

.purchase h2 {
  font-size: 7.4rem;
  letter-spacing: 0.74rem;
  color: #D34848;
}

.purchase h3 {
  font-size: 5.1rem;
  letter-spacing: 0.51rem;
  color: white;
  font-weight: normal;
  margin-top: 2.1rem;
}

.purchase button {
  width: 36rem;
  height: 10rem;
  border-radius: 7.9rem;
  border: none;
  background: linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%);
  color: white;
  font-size: 2.9rem;
  letter-spacing: 0.29rem;
  font-weight: bold;
}

/* Footer Styles */

footer {
  height: 50vh;
  width: 100vw;
  background-color: #5E33D1;
}

.email {
  margin-left: 13.9rem;
  padding-top: 14.9rem;
  display: flex;
  color: white;
  align-items: center;
}

.fa-envelope::before {
  font-size: 3rem;
  margin-right: 2.364rem;
}

.email p {
  font-size: 3.5rem;
  letter-spacing: 0.35rem;
}

footer h6 {
  text-align: center;
  font-size: 4.8rem;
  color: white;
  font-weight: normal;
  letter-spacing: 0.48rem;
  margin-top: 9.9rem;
  margin-bottom: 4.5rem;
}

footer small {
  font-size: 2.4rem;
  letter-spacing: 0.24rem;
  text-align: center;
  display: block;
  color: white;
  font-weight: normal;
}

/* Scroll Animations */

.landing, .pricingPage {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
}

.mySwiper, .redSection, .yellowSection, .perks, .reviews, .purchase, .pricing {
  scroll-snap-align: start;
}

footer {
  scroll-snap-align: end;
}

/* Pricing Page Styles */

.pricing {
  height: 200vh;
  width: 100vw;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18.3rem;
}

.pricing h2 {
  font-size: 7.4rem;
  letter-spacing: 0.74rem;
  color: white;
  margin-bottom: 3.8rem;
}

.pricing h3 {
  font-size: 5.1rem;
  line-height: 8rem;
  letter-spacing: 0.51rem;
  color: white;
  width: 155rem;
  font-weight: normal;
  margin-bottom: 20.4rem;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 12.7rem;

}

.price {
  width: 43rem;
}

.pricing hr {
  width: 14.1rem;
}

.plan {
  font-size: 4.2rem;
  letter-spacing: 0.42rem;
  margin-bottom: 1.95rem;
}

.periodic {
  font-size: 4.7rem;
  letter-spacing: 0.47rem;
  margin-top: 2.05rem;
}

.cost {
  font-size: 13.4rem;
  letter-spacing: 1.34rem;
  margin-bottom: 4.2rem;
}

.pricing li {
  font-size: 4.7rem;
  letter-spacing: 0.47rem;
  line-height: 6.4rem;
  margin-left: 4rem;
  color: white;
  position: relative;
}

.pricing button {
  width: 33.5rem;
  height: 8.4rem;
  border: none;
  border-radius: 7.9rem;
  margin-top: 3.8rem;
  font-size: 2.4rem;
  letter-spacing: 0.24rem;
  font-weight: bold;
  color: white;
}

.price:first-of-type h4 {
  color: #D24848;
}

.price:nth-of-type(2) h4 {
  color: #FFB33F;
}

.price:last-of-type h4 {
  color: #1FE1E9;
}

.price:first-of-type hr {
  border-color: #D24848;
}

.price:nth-of-type(2) hr {
  border-color: #FFB33F;
}

.price:last-of-type hr {
  border-color: #1FE1E9;
}

.price:first-of-type button {
  background-color: #D24848;
}

.price:nth-of-type(2) button {
  background-color: #FFB33F;
}

.price:last-of-type button {
  background-color: #1FE1E9;
}

.price ul {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;
}

.price li::before {
  content: "\f001";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-size: 3rem;
  left: -1.5em;
  position: absolute;
}

.pricingPage .perks {
  height: 100vh;
  background-color: #D34848;
}

.pricingPage .perks button {
  display: none;
}

.pricingPage .perk {
  color: white;
}

.pricingPage .perk hr {
  border-color: white;
}

.pricingPage .perk p {
  color: #0B0B0B;
}

/* Payment Section Styles */

.payment {
  height: 200vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18.3rem;
}

.paymentPage header {
  color: black;
}

.paymentPage header .menu-btn-burger, .paymentPage header .menu-btn-burger::before, .paymentPage header .menu-btn-burger::after {
  background-color: black;
}

.payment h2 {
  font-size: 7.4rem;
  letter-spacing: 0.74rem;
  margin-bottom: 12.1rem;
}

.payment h3 {
  font-size: 4.5rem;
  letter-spacing: 0.45rem;
  font-weight: normal;
  margin-bottom: 3.2rem;
}

.personalInfo {
  display: flex;
  margin-top: 14.8rem;
}

.billInfo, .cardInfo {
  display: flex;
  flex-direction: column;
}

.personalInfo label {
  font-size: 2.2rem;
  letter-spacing: 0.22rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.personalInfo input {
  width: 68.1rem;
  height: 7.4rem;
  margin-bottom: 3.1rem;
  border: 0.2rem solid black;
  padding-left: 3.8rem;
  font-size: 2.8rem;
  letter-spacing: 0.28rem;
}

.subForm input {
  width: 32.1rem;
}

.subForm {
  display: flex;
}

.subSubForm:nth-of-type(2) {
  margin-left: 3.7rem;
}

.subSubForm {
  display: flex;
  flex-direction: column;
}

.cardInfo {
  margin-left: 12.1rem;
}

.payment small {
  font-size: 2.2rem;
  letter-spacing: 0.22rem;
  width: 65.1rem;
  line-height: 3.4rem;
  color: #191919;
  margin-top: 12.5rem;
  margin-bottom: 3.1rem;
}

.payment small span {
  font-weight: bold;
  color: #2F1FE9;
}

.download {
  width: 21.7rem;
  height: 6rem;
  border: none;
  border-radius: 7.9rem;
  background: linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%);
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 0.19rem;
  color: white;
}

.personalInfo input:focus {
  border-bottom: 0.8rem solid #2F1FE9;
  outline: none;
}

.paymentPlan {
  display: flex;
}

.round {
  margin-right: 8.3rem;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5rem;
}

.paymentPlan label {
  font-size: 3.7rem;
  letter-spacing: 0.37rem;
  font-weight: bold;
  margin-left: 1.3rem;
  cursor: pointer;
}

.round:first-of-type {
  color: #D24848;
}

.round:nth-of-type(2) {
  color: #FFB33F;
}

.round:last-of-type {
  color: #1FE1E9;
}

.round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  margin-top: 0.4rem;

}

.round:hover input ~ .checkmark {
  background-color: #ccc;
}

.round:first-of-type input:checked ~ .checkmark {
  background-color: #D24848;
  border: none;
}

.round:nth-of-type(2) input:checked ~ .checkmark {
  background-color: #FFB33F;
  border: none;
}

.round:last-of-type input:checked ~ .checkmark {
  background-color: #1FE1E9;
  border: none;
}

/* Hamburger Menu Popup styles */

.burgerMenu {
  background-color: #0B0B0B;
  width: 68.2rem;
  height: 68.2rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  left: -10rem;
  top: -22rem;
  transform: scale(1);
  transition: top 0.5s, left 0.5s, transform 0.5s;
}

.burgerMenu li {
  list-style: none;
  font-size: 4.7rem;
  font-weight: bold;
  line-height: 5.7rem;
  cursor: pointer;
}


.burgerMenu ul {
  margin-top: 25rem;
  margin-left: -6rem;
}

.hide {
  left: -34.2rem;
  top: -34.2rem;
  transform: scale(0);
}